
  body{
      height: 100vh;
      width: 80%;
      position: relative;
      left: 10%;
      right: 10%;
  }
  .navbar{
      background-color:pink;
      height:67px;
  }  
  .logo{
      padding:5px;
      font-size:20px;
  }
  .nav-item{  
      float:right;    
      position: relative;
      right:1rem;     
      padding:5px;   
}
  .nav-item >li > a{
      text-decoration: none;
      font-size:22px;
  }
  .item{
      display: inline-block;
      padding:5px;
      
  }
  .item>a{
      color:white;
  }
  .top-image{
      width:100%;
  }
  .side-item{
      display: inline;
    
  }
  .side_menu{
      margin-top: 1rem;
  }
  .item1{
      background-color: pink;
      height:60px;
      margin: 7px 0;
      width: 19rem;
      margin-left:2px;
      padding-top: 1rem;

  }
  .side-item > li >a{
      text-decoration: none;
      align-content: center;
      color:white;
      margin-left:10px;
      font-size: 22px;
  }
  .item2{
    background-color: pink;
    height:60px;
    margin: 7px 0;
    width: 19rem;
    margin-left:2px;
    padding-top: 1rem;

}
  .item3 {
    background-color: rgb(245, 228, 231);    
    height:60px;
    margin: 7px 0;
    width: 19rem;
    margin-left:2px;
    padding-top: 1rem;
    
}
.desc1 {
    background-color:rgb(248, 222, 226);
    font-size: 20px;
}
.desc1 {
    padding: 1rem;
    height: 10rem;;

}
.footer{
    background-color: grey;
    height:70px;
    text-align: center;
    position: relative;   
    
}
.foot-content{
    text-align: center;
    padding-top: 1.9rem;
    color: white;

}

input[type="text"],textarea{
    width:480px;
}
input[type="text"],input[type="radio"],textarea {
    margin-left: 2rem;
}
table {
    position: relative;
    bottom: 14rem;
    font-weight: bold;
    margin-left: 7rem;
    left: 16em; 
    width:100vh;
}

th {
    width: 150px;
    height: 5rem;
    text-align: end;
}

.submit{
    background-color:skyblue;
    color:white;
    position: relative;
    left:15rem;
    height: 35px;
    border-radius: 3px;
}
.submit:hover{
    background-color: rgb(215, 247, 247);
    color:black;
}
.active{
    color: black !important;
}
a:hover{
   color: gray !important;
}
