body {
    width: 70%;
    margin: 0% 0% 15% 15%
}

.nav-bar {
    background: pink;
    height: 70px;
    line-height: 70px;
}

.nav-brand {
    width: 100px;
    height: auto;
}

.nav-navbar {
    float: right;
}

.nav-item {
    padding-right: 5px;
}

li>a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem
}

.block {
    display: inline-block
}

.top-section {
    background-color: black
}

.top-section-img {
    width: 100%;
    height: auto
}

aside {
    width: 30%;
}

.side-items {
    margin-left: 0px;
}

.side-item {
    width: 100%;
    height: 50px;
    background-color: pink;
    background-size: cover;
    margin-top: 5px;
    line-height: 50px
}
#contact{
    background-color:pink;
    color: black;
    opacity: .5;
}
#contact:hover{
    background-color:mediumaquamarine
}
.side-item:hover{
    background-color:mediumaquamarine
}
.nav-item:hover{
    background-color: chocolate;
    border-radius: 5px;
    
}

.active {
    background-color: rgb(245, 228, 231) !important;
}

.active>a {
    color: black !important;
}

li[class="side-item"] a {
    padding-left: 20px;
}

li[class="side-item active"] a {
    padding-left: 20px;
}

.btn {
    width: 80px;
    height: 40px;
    background-color: rgb(216, 105, 14);
    color: white;
    margin-left: 190px;
    border: none;
    transition: all 0.9s
}

.btn:hover {
    width: 100px;
    height: 50px;
    background-color: rgb(216, 105, 14);
    opacity: .4;
    color: black;
    border: none;
    transition: all 0.9s
}

article {
    width: 70%;
    float: right;
    text-align: center
}

.mt-2 {
    margin-top: 10px
}

tr {
    height: 4rem
}

th {
    width: 150px;
}

input[type="text"], textarea {
    width: 480px;
}

.footer {
    background-color: grey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 70%;
    height: 70px;
    text-align: center;
    line-height: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

.footer-content {
    color: white;
}